@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.home{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(../assets/images/home-img.jpeg);
    background-position: center ;
    background-size: cover;
    height: 100vh;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
.logo h1{
    color: red;
    font-weight: bolder;
}
.icons{
 color: white;
}
.icons input{
    height: 30px;
    border-radius: 5px 5px;
    margin-right: 10px;
}
.nav ul li a{
    color: white;
}
.nav ul li a:hover{
    border-bottom: 1px solid red;
}

.home .center{
    margin-top: 55px;
    display: flex;
    text-align: start;
    justify-content: start;
    gap: 30px;
    flex-direction: column;
    margin-left: 100px;
}
.home .center h1{
    color: white;
    font-size: 60px;
}

.home .center p{
    color: white;
    font-size: 20px;
    text-align: start;
    font-weight: 100;
}



.home .center .btn button{
    border-color: rgb(160, 72, 72);
    background-color: brown;
    color: white;
    padding: 7px 30px;
    border-radius: 10px;
    font-size: 15px;
    width: 180px;
    text-align: start;
}
.home .center .btn:hover{
    opacity: .9;
}
.about .part1{
    text-align: center;
    font-size: large;
    padding: 25px 0;
    color: white;
    background-color: rgb(36, 34, 34);
}
.about .part2{
    background-color: black;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about .part2 .part3{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex-direction: column;
}
.about .part2 .part3 .part34 button{
    width: 130px;
    height: 50px;
    font-size: 15px;
    background-color: brown;
    color: white;
}
.about .part2 img{
    width: 550px;
}
 td {
    border:2px solid white;
  }
table{
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
  
}
td:hover{
    background-color: white;
    color: black;
}
.menu{
background: black;
color: white;
}
.menu .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 25px 0;
}
.menu .title{
    text-align: center;
    font-size: large;
    padding: 25px 0;
    color: white;
    background-color: rgb(36, 34, 34);
    margin-bottom: 40px;

}
.menu .part1 .part14 button{
    width: 150px;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: rgb(158, 132, 45);
}
.menu .part1 .part13 p{
    font-size: 20px;
}
.menu .part1 .part13 span del{
    font-size: 13px;
}
.menu{
    background: black;
    color: white;
    }


.products{
    background: black;
    color: white;
}
.products .part1 .part14{
   color: rgb(223, 168, 19);
}
.products .part1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        padding: 25px 0;
}
.products .title{
        text-align: center;
        font-size: large;
        padding: 25px 0;
        color: white;
        background-color: rgb(36, 34, 34);
        margin-bottom: 40px;   
}
.products .part1 .part15 p{
    font-size: 18px;
}
.products .part1 .part15 span del{
    font-size: 13px;
}

.products .part1 .part11{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: large;
}

.customer{
    background-color: black;
    color: white;
}
.customer .title{
    text-align: center;
    font-size: large;
    padding: 25px 0;
    color: white;
    background-color: rgb(36, 34, 34);
    margin-bottom: 40px;   
}
.customer .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 25px 0; 
}
.customer .part1 .part12 p{
    font-size: 14px;
}
.customer .part1 .part13 img{
    border-radius: 95px 95px;
}
.customer .part1 .part15{
    color: rgb(231, 182, 45);
}


.blogs{
    background-color: black;
    color: white;
}
.blogs .part1 .part13{
    color: rgb(201, 201, 30);
}

.blogs .part1{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 15px;
    gap: 20px;
    flex-direction: column;
    padding: 25px 0; 
}
.blogs .title{
    text-align: center;
    font-size: large;
    padding: 25px 0;
    color: white;
    background-color: rgb(36, 34, 34);
    margin-bottom: 40px;   
}
.blogs .part1 .part15 button{
    color: white;
    background-color: rgb(158, 132, 45);
    width: 150px;
    height: 40px;
    font-size: 16px;
}
.blogs table{
    margin-left: 85px;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer{
    background-color: rgb(36, 34, 34);;
    padding: 50px 50px;
}
footer .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

footer .part1 .part11{
    display: flex;
    gap: 20px;
    font-size: larger;
}
footer .part1 .part11 button{
    width: 50px;
    height: 50px;
    font-size: larger;
    border-radius: 50px 50px;
    border-color: white;
    color: white;
    background-color: rgb(36, 34, 34);;
}
footer .part1 .part11 button:hover{
    color: rgb(36, 34, 34);;
    background-color: white;
}
footer .part1 .part12 button{ 
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(36, 34, 34);;
    border-color: white;
}
footer .part1 .part12 button:hover{
    color: rgb(36, 34, 34);;
    background-color: white;
}
footer .part1 .part13 p{
    font-size: 18px;
    color: white;
}
footer .part1 .part13 p span{
    color: rgb(180, 156, 16);
}
